.card-container {
    display: flex;
    flex-direction: row; /* Allow cards to wrap to the next line if needed */
    justify-content: space-around; /* Space cards evenly along the main axis */
    border: 10px solid red;
    gap: 100px;
}
  
  .card {
    width: 300px;
    height: 300px;
    
    margin-bottom: 20px; /* Adjust spacing between rows */
    

}
  
  .card-image {
    width: 100%;
    height: auto;
    
}
  
  .card-description {
    padding: 10px;
  }
  